@model EventPass.Models.Ingresso

@{
    ViewData["Title"] = "Buscar";
}

<link rel="stylesheet" href="~/css/style-buscar.css" />

<div class="content-image" style="margin: 0;">
    <img src="/flyer/@Model.Evento.flyer" class="d-block w-100" alt="..." style="border-radius: 10px;" />
</div>
<div>
    <dl class="row">
        <h4 class="title-buscar">@Html.DisplayFor(model => model.Evento.NomeEvento)</h4>
        <p class="data-hora">
            @Html.DisplayFor(model => model.Evento.Data) @Html.DisplayFor(model => model.Evento.Hora)
        </p>
        <dd class="location">
            @Html.DisplayFor(model => model.Evento.Local)
        </dd>
        <dd class="description">
            @Html.DisplayFor(model => model.Evento.Descricao)
        </dd>
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated)
    {
        <a class="button-retirar" asp-controller="Ingressos" asp-action="Edit" asp-route-id="@Model?.Id">Retirar
            ingresso</a>
    }
    else
    {
        <a class="button-retirar" asp-controller="Usuarios" asp-action="Login"> Retirar ingresso</a>
    }
    <a class="button-voltar" asp-controller="Home" asp-action="Index">Voltar</a>
</div>
