@model IEnumerable<EventPass1.Models.Ingresso>

@{
    ViewData["Title"] = "Index";
}

<h1>Eventos</h1>

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Evento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evento.Local)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Evento.NomeEvento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Evento.Local)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Retirar</a>
                    <a class="btn btn-info" asp-controller="Home" asp-action="Index">Voltar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
