@model EventPass1.Models.Evento

@{
    ViewData["Title"] = "Delete";
}

<link rel="stylesheet" href="~/css/style-delete.css" />

<h1 class="title-delete">Excluir</h1>

<h3 class="description">Você tem certeza que deseja excluir evento? </h3>
<hr />
<div>
    <div class="form-group">
        <dl>
            <div class="form-group">
                <dt>
                    @Html.DisplayNameFor(model => model.NomeEvento)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NomeEvento)
                </dd>
            </div>

            <div class="form-group">
                <dt>
                    @Html.DisplayNameFor(model => model.Data)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Data)
                </dd>
            </div>

            <div class="form-group">
                <dt>
                    @Html.DisplayNameFor(model => model.Hora)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Hora)
                </dd>
            </div>

            <div class="form-group">
                <dt>
                    @Html.DisplayNameFor(model => model.TotalIngressos)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TotalIngressos)
                </dd>
            </div>

            <div class="form-group">
                <dt>
                    @Html.DisplayNameFor(model => model.Descricao)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Descricao)
                </dd>
            </div>
        </dl>
    </div>
    <hr />


    <form asp-action="Delete">
        <input type="hidden" asp-for="IdEvento" />
        <div style="display: flex;">
            <input type="submit" value="Excluir" class="button-delete" />
            <a class="button-voltar" asp-action="Index">Voltar</a>
        </div>
    </form>
</div>
